.btn {
  border-color: transparent;
  border-radius: var(--radius-xs);
  background: var(--blue-300);
  padding: 0.3rem 0.7rem;
  transition: all var(--transition-3s);
  text-transform: uppercase;
  font-size: var(--fs-p);

  &:hover {
    background: var(--blue-200);
  }
}
