@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($val: 25rem) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
}

@mixin wrapper($width: var(--max-width)) {
  width: min(95%, $width);
  margin: 0 auto;
}

@mixin hover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin breakpoint($width) {
  @if $width == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $width == laptop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
