@use '../abstracts' as *;

.header {
  background: var(--clr-text);
  color: var(--clr-bg);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--gap-md) 0;

  @include breakpoint(laptop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo-and-nav-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggler {
  padding: var(--gap-xs);
  border-radius: var(--radius-xs);
  &:active {
    background: var(--grey-700);
  }

  @include breakpoint(laptop) {
    display: none;
  }
}

.cancel {
  display: none;

  svg {
    fill: var(--error);
  }
}

.cancel-active {
  display: flex;
}

.header-nav {
  height: 0;
  transition: height var(--transition-5s);
  overflow: hidden;

  @include breakpoint(laptop) {
    height: auto !important;
  }
}

.header-nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--gap-lg);

  @include breakpoint(laptop) {
    flex-direction: row;
    padding-top: 0;
  }

  a {
    padding: var(--gap-xs);
    color: var(--blue-500);
    border-radius: var(--radius-xs);

    &:active {
      color: var(--blue-300);
      background: var(--grey-700);
    }

    @include hover() {
      &:hover {
        color: var(--blue-300);
        background: var(--grey-700);
      }
    }

    @include breakpoint(laptop) {
      padding: var(--gap-xs);
    }
  }
}
